/* SECCION CONTACTO */
.contenedorContacto{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.tituloSucursalesH2{
    margin-top: 40px;
    font-weight: 700;
}

.tituloSucursales{
    font-weight: 700;
    margin: 20px 0px 10px 0px;
    font-size: 25px;
    text-align: center;
}

.contenedorSucursales{
    padding: 30px;
}

.imagenSucursal{
    max-width: 100%;
    width: 1900px;
}

.linkSucursales{
    color: #000000;
    text-decoration: none;
}

.linkSucursales:hover{
    color: var(--text-color) 
}

.contenedorTituloSucursales{
    width:100%; 
    text-align:center;
}

.contactoSucursales{
    display:flex;
}

.parrafoSucursales{
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.seccionContacto{
    position: relative;
    background: #fdf4f4;
    padding-bottom: 100px;
    padding-top: 100px;
}
  
.seccionContacto .tituloContacto h1{
    font-size: 40px;
    margin-bottom: 40px;
}

.seccionContacto .formInterior .formGrupo{
    position: relative;
    margin-bottom: 20px;
}

.seccionContacto .formInterior .formGrupo input[type='text'],
.seccionContacto .formInterior .formGrupo input[type='email'],
.seccionContacto .formInterior .formGrupo input[type='date'],
.seccionContacto .formInterior .formGrupo input[type='file'],
.seccionContacto .formInterior .formGrupo input[type='password'],
.seccionContacto .formInterior .formGrupo select,
.seccionContacto .formInterior .formGrupo textarea{
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background: #ffffff;
    border: 2px solid #ededed;
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    color: #565872;
    transition: all 500ms ease;
}

.seccionContacto .formInterior .formGrupo textarea{
    height: 180px;
    resize: none;
}

.seccionContacto .formInterior .formGrupo i{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #244a6a;
    z-index: 1;
}

.mensajeBoton{
    margin-top: 30px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.botonForm{
    padding: 12px 45px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    transition: all 500ms ease; /*Transicion para que cuando se habra la pagina se agranden*/
    background: var(--text-color);
}

.botonForm:hover{
    background: #000000;
}

/************/
/*RESPONSIVE*/
/************/

/* Ajusta la seccion de imagenes de sucursales para que se adapte a distintas resoluciones */
@media all and (max-width: 767px){
    .contactoSucursales{
        flex-direction: column;
    }
}

.custom-main
{
    padding-top: 80px;
}

.Titulo{
    padding-left: 20PX;

}

.btn-favorito:hover i {
    color: rgb(255, 255, 37);

}

.custom-card-height {
   
    height: 300px; /* Ajusta este valor según tus necesidades */
    
  }
  

  .card-img-overlay {
    color: white; /* Asegura que el texto sea blanco */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-img-overlay h5,
  .card-img-overlay a {
    margin: 5px 0;
  }
 
  .custom-body-producto{
    background-color: #EEEBDD;
  }

  .card_mod{
    background-color: #EEEBDD;
    background: linear-gradient(145deg, #d6d4c7, #fffbec);
    box-shadow:  28px 28px 44px #cac8bc,
                 -28px -28px 44px #fffffe;
  }

  .botonAgregar{
    padding: 12px 45px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff !important;
    border-radius: 5px;
    border: none;
    transition: all 500ms ease; /*Transicion para que cuando se habra la pagina se agranden*/
    background: #CE1212 !important;
    width: 500px;
}

/* // Estilos de maxi */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    list-style: none;
    font-family:Lato,sans-serif;
    font-size: 12px;
}

:root {
    --bg-color: #1A1A1A;
    --text-color: #CE1212;
    --main-color: #810000;
}

body {
    height: 100%;
    width: 100%;
    background: #EEEBDD !important;
    color: var(--text-color);
}

/*header*/
.img-header {
    height: 25%;
    width: 25%;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 5px 2%;
    transition: all .50s ease;

}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    text-decoration: none !important;
    font-size: 1.2em;
    font-family: sans-serif;
}

.custon-div-header {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}



.car i {
    color: white;
    font-size: 28px;
    margin-left: 30px;
}


#menu-icon-header {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}


@media(max-width : 1280px) {
    header {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 0;
        padding-bottom: 0;
        transition: .2s;
    }

    .navbar a {
        color: white;
        padding: 5px 0;
        margin: 0px 20px;
    }

}

@media(max-width : 1090px) {
    
    #menu-icon-header {
        display: block;
        margin-left: 30px;
        margin-right: 10px;
    }

    .navbar {
        position: absolute !important;
        top: 100%;
        right: 0%;
        width: 270px;
        height: 35vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        color: white;
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--text-color);
        background: var(--main-color);
    }


}





/*Seccion*/
.custom-carousel {
    max-height: max-content;
    /* Ajusta la altura máxima del carrusel */
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde */
    background: black !important;
}

.custom-h1 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.custom-div-main {
    margin: none;
    background: black !important;
}

/*Main*/
.imagen-izquierda img {
    /*width: 700px;*/
    height: 700px;

}

#main-img-reemplazo {
    display: none;
}


/* Estilos para la imagen izquierda */
.imagen-izquierda {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para las imágenes derechas */
.imagenes-derecha {
    box-sizing: border-box !important;
    display: flex;
    flex-direction: column;
}

.imagen-1-derecha,
.imagen-2-derecha{
    position: relative;
}

.imagen-1-derecha img {
    width: 280px;
    margin-left: 10%;
    margin-bottom: 10px;
}

.imagen-2-derecha img:last-child {
    width: 280px;
    margin-left: 10%;
}

/* Media Queries para diferentes tamaños de pantalla */
.btn-ver-mas-producto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.imagen-izquierda:hover .btn-ver-mas-producto,
.imagen-1-derecha:hover .btn-ver-mas-producto,
.imagen-2-derecha:hover .btn-ver-mas-producto {
    opacity: 1;
}


@media (max-width: 1400px) {
    .item {
        flex-direction: column;
        /* Cambia la dirección del flex a columna */
        justify-content: center !important;
        display: flex !important;
        align-items: center;
    }

    .imagen-izquierda img {
        display: none;
        width: auto;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }


    .imagen-1-derecha img {
        width: auto;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }

    .imagen-2-derecha img {
        width: auto !important;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }


    .imagenes-derecha {
        margin-top: 20px;
        /* Agrega un margen superior para separar las imágenes */
    }

    .imagen-1-derecha,
    .imagen-2-derecha {
        margin-left: 0;
        /* Ajusta el margen izquierdo */
        margin-bottom: 20px;
        /* Agrega margen inferior para separar las imágenes */

    }

    .btn-ver-mas-producto {
        transform: none;
    }

    #main-img-reemplazo {
        display: flex;
        width: auto;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }

}

/*FAQ y Bases*/

.main-faq, .main-bases{
    display: block;
    padding: 1%;
    padding-top: 100px;
    background-color: #eeebdd;
    color: var(--text-color);
    font-family:Lato,sans-serif;
    text-align: justify;
    font-size: 14px;
}

.main-bases{
    color: var(--bg-color);
}

.accordion .accordion-button {
    background-color: var(--main-color); 
    color: white; 
}

.accordion .accordion-button:not(.collapsed) {
    background-color: var(--bg-color);
}

.accordion .accordion-body {
    text-align: justify; 
    font-size: 14px;    
    background-color: #262626;
    color: #eeebdd;
}

/*Contacto*/

.main-registro {
    background-color: #eeebdd; 
    text-align: center;
}

/*Footer*/

.footer {
    position: static;
    background-color: black;
    clear: both;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    color: #fff !important;
}

.footer a {
    color: #fff !important;
    text-decoration: none !important;
}

.footer img {
    width: 50px;
}

.img-footer {
    margin-bottom: 15px;
    width: 20%;
}

.footer-img-logos{
    margin-right :10% !important;
    margin-left :10% !important;
}

.div-footer {
    background-color: var(--bg-color);
    padding: 14px;
}


.footer-div-custom h3{

    width: 100%;
}

.footer-div-info{
    width: 100% !important;
    height: auto;
}

.footer-div-custom {

    transform: translateY(23%);
    width: 100% !important;
    height: auto;
}

.custom-row {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    justify-content: center;
}

.footer-div-custom li a:hover {
    color: #810000 !important;
}
.div-footer-bootom{
    background-color: #262626 ;
    padding-top: 30px;
    padding-bottom: 20px;

}

@media(max-width : 1400px) {

    #div-plcd {
        transform: translateY(23%);
    }
    #div-inbz{
        transform: translateY(23%);
    }

    .custom-row{
        padding-left: 50px;
        width: auto;
        height: 650px;
    }

    .footer-img-logos{
        margin-right :0.5rem !important;
        margin-left :0.5rem!important;
    }
}