* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    list-style: none;
    font-family:Lato,sans-serif;
    font-size: 12px;
}

:root {
    --bg-color: #1A1A1A;
    --text-color: #CE1212;
    --main-color: #810000;
}

body {
    height: 100%;
    width: 100%;
    background: #EEEBDD !important;
    color: var(--text-color);
}

/*header*/
.img-header {
    height: 25%;
    width: 25%;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 5px 2%;
    transition: all .50s ease;

}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    text-decoration: none !important;
    font-size: 1.2em;
    font-family: sans-serif;
}

.custon-div-header {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}



.car i {
    color: white;
    font-size: 28px;
    margin-left: 30px;
}


#menu-icon-header {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}


@media(max-width : 1280px) {
    header {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 0;
        padding-bottom: 0;
        transition: .2s;
    }

    .navbar a {
        color: white;
        padding: 5px 0;
        margin: 0px 20px;
    }

}

@media(max-width : 1090px) {
    
    #menu-icon-header {
        display: block;
        margin-left: 30px;
        margin-right: 10px;
    }

    .navbar {
        position: absolute !important;
        top: 100%;
        right: 0%;
        width: 270px;
        height: 35vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        color: white;
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--text-color);
        background: var(--main-color);
    }


}





/*Seccion*/
.custom-carousel {
    max-height: max-content;
    /* Ajusta la altura máxima del carrusel */
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde */
    background: black !important;
}

.custom-h1 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.custom-div-main {
    margin: none;
    background: black !important;
}

/*Main*/
.imagen-izquierda img {
    /*width: 700px;*/
    height: 700px;

}

#main-img-reemplazo {
    display: none;
}


/* Estilos para la imagen izquierda */
.imagen-izquierda {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para las imágenes derechas */
.imagenes-derecha {
    box-sizing: border-box !important;
    display: flex;
    flex-direction: column;
}

.imagen-1-derecha,
.imagen-2-derecha{
    position: relative;
}
  .card-img-overlay h5,
  .card-img-overlay a {
    margin: 5px 0;
  }
 
  .custom-body-producto{
    background-color: #EEEBDD;
  }

.imagen-1-derecha img {
    width: 280px;
    margin-left: 10%;
    margin-bottom: 10px;
}

.imagen-2-derecha img:last-child {
    width: 280px;
    margin-left: 10%;
}

/* Media Queries para diferentes tamaños de pantalla */
.btn-ver-mas-producto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.imagen-izquierda:hover .btn-ver-mas-producto,
.imagen-1-derecha:hover .btn-ver-mas-producto,
.imagen-2-derecha:hover .btn-ver-mas-producto {
    opacity: 1;
}


@media (max-width: 1400px) {
    .item {
        flex-direction: column;
        /* Cambia la dirección del flex a columna */
        justify-content: center !important;
        display: flex !important;
        align-items: center;
    }

    .imagen-izquierda img {
        display: none;
        width: auto;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }


    .imagen-1-derecha img {
        width: auto;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }

    .imagen-2-derecha img {
        width: auto !important;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }


    .imagenes-derecha {
        margin-top: 20px;
        /* Agrega un margen superior para separar las imágenes */
    }

    .imagen-1-derecha,
    .imagen-2-derecha {
        margin-left: 0;
        /* Ajusta el margen izquierdo */
        margin-bottom: 20px;
        /* Agrega margen inferior para separar las imágenes */

    }

    .btn-ver-mas-producto {
        transform: none;
    }

    #main-img-reemplazo {
        display: flex;
        width: auto;
        height: 500px;
        /* Ajusta el ancho al 100% */
        margin-left: 10%;
    }

}





/*Footer*/

.footer {
    position: static;
    background-color: black;
    clear: both;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    color: #fff !important;
}

.footer a {
    color: #fff !important;
    text-decoration: none !important;
}

.footer img {
    width: 50px;
}

.img-footer {
    margin-bottom: 15px;
    width: 20%;
}

.footer-img-logos{
    margin-right :10% !important;
    margin-left :10% !important;
}

.div-footer {
    background-color: var(--bg-color);
    padding: 14px;
}


.footer-div-custom h3{

    width: 100%;
}

.footer-div-info{
    width: 100% !important;
    height: auto;
}

.footer-div-custom {

    transform: translateY(23%);
    width: 100% !important;
    height: auto;
}

.custom-row {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    justify-content: center;
}

.footer-div-custom li a:hover {
    color: #810000 !important;
}
.div-footer-bootom{
    background-color: #262626 ;
    padding-top: 30px;
    padding-bottom: 20px;

}

@media(max-width : 1400px) {

    #div-plcd {
        transform: translateY(23%);
    }
    #div-inbz{
        transform: translateY(23%);
    }

    .custom-row{
        padding-left: 50px;
        width: auto;
        height: 650px;
    }

    .footer-img-logos{
        margin-right :0.5rem !important;
        margin-left :0.5rem!important;
    }
}