.header{
    width: 100%; 
    height: 80px;
    background-color: coral; 
    display: flex; 
    align-items: center;
}

.link_header{
    margin-right: 15px;
    font-size: 18px;
    color: black;
}

.footer{
    background-color: coral; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    width: 100%;
    margin-top: 15px;
}

.h3_footer{
    font-size: 25px;
}

.footer ul li{
    margin-bottom: 5px;
}

.footer ul li a{
    color: black;
}

.nombre_marca{
    margin-left: auto; 
    margin-right: 20px; 
    font-size: 32px; 
    font-weight: 600;
}

.tabla_registro{
    border: 1px solid #000000; 
    border-collapse: separate; 
    width: 226px; 
    margin: 0 auto;
}


.celda_tabla_registro{
    text-align: center;
    border: 1px solid #000000;
    padding: 8px;
}

.link_header:hover, .footer ul li a:hover{
    color: white;
}

.centrado{
    text-align: center;
}

/* SECCION CONTACTO */

.contenedorContacto{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.tituloSucursalesH2{
    margin-top: 40px;
    font-weight: 700;
}

.tituloSucursales{
    font-weight: 700;
    margin: 20px 0px 10px 0px;
    font-size: 25px;
    text-align: center;
}

.contenedorSucursales{
    padding: 30px;
}

.imagenSucursal{
    max-width: 100%;
    width: 1900px;
}

.linkSucursales{
    color: #000000;
    text-decoration: none;
}

.linkSucursales:hover{
    color: coral
}

.contenedorTituloSucursales{
    width:100%; 
    text-align:center;
}

.contactoSucursales{
    display:flex;
}

.parrafoSucursales{
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.seccionContacto{
    position: relative;
    background: #fdf4f4;
    padding-bottom: 100px;
    padding-top: 100px;
}
  
.seccionContacto .tituloContacto h1{
    font-size: 40px;
    margin-bottom: 40px;
}

.seccionContacto .formInterior .formGrupo{
    position: relative;
    margin-bottom: 20px;
}

.seccionContacto .formInterior .formGrupo input[type='text'],
.seccionContacto .formInterior .formGrupo input[type='email'],
.seccionContacto .formInterior .formGrupo input[type='date'],
.seccionContacto .formInterior .formGrupo input[type='file'],
.seccionContacto .formInterior .formGrupo input[type='password'],
.seccionContacto .formInterior .formGrupo select,
.seccionContacto .formInterior .formGrupo textarea{
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background: #ffffff;
    border: 2px solid #ededed;
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    color: #565872;
    transition: all 500ms ease;
}

.seccionContacto .formInterior .formGrupo textarea{
    height: 180px;
    resize: none;
}

.seccionContacto .formInterior .formGrupo i{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #244a6a;
    z-index: 1;
}

.mensajeBoton{
    margin-top: 30px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.botonForm{
    padding: 12px 45px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    transition: all 500ms ease; /*Transicion para que cuando se habra la pagina se agranden*/
    background: #ff7f50;
}

.botonForm:hover{
    background: #000000;
}

/************/
/*RESPONSIVE*/
/************/

/* Ajusta la seccion de imagenes de sucursales para que se adapte a distintas resoluciones */
@media all and (max-width: 767px){
    .contactoSucursales{
        flex-direction: column;
    }
}

.Titulo{
    padding-left: 20PX;

}

.btn-favorito:hover i {
    color: rgb(225, 225, 54);

}

.custom-card-height {
   
    height: 300px; /* Ajusta este valor según tus necesidades */
    
  }
  

  .card-img-overlay {
    color: white; /* Asegura que el texto sea blanco */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card-img-overlay h5,
  .card-img-overlay a {
    margin: 5px 0;
  }
 